@page "/Models"
@inject IHttpClientFactory _clientFactory
@inject NavigationManager _navigationManager
@inject ModelService _modelService
@inject AuthorizationController _authorizationController

@if (_modelService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_authorizationController.IsInRole("adminrole"))
    {
        <div class="col">
            <div class="card mt-md-4">
                <div class="card-header text-secondary">
                    <h3>Models</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <ListViewComponent @ref="listView"></ListViewComponent>

                        <button class="btn btn-primary" @onclick="NewModel">New</button>
                        <button class="btn btn-primary" @onclick="() => EditFistSelectedModel()">Edit</button>
                        <AlertMessageComponent @ref="alertComponent" OnCloseCallback="(e) => AlertClose(e)" ></AlertMessageComponent>
                        <button class="btn btn-primary" @onclick="DeleteSeletedModels">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code { 
        ListViewComponentBase listView { get; set; }
        AlertMessageComponent alertComponent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //lv = new ListView();
        await RefreshListViewItems();

        await base.OnInitializedAsync();
    }

    private void NewModel()
    {
        _navigationManager.NavigateTo("NewModel");
    }

    public void EditFistSelectedModel()
    {
        var f = listView.Items.FirstOrDefault(x => x.IsSelected == true);
        _navigationManager.NavigateTo("EditModel/" + f.Id);
    }

    private void DeleteSeletedModels()
    {
        alertComponent.ShowAlert("title", "message");

    }

    public async Task AlertClose(AlertMessageArgs args)
    {
        if (args.Result == true)
        {
            List<Model> _models = new List<Model>();
            foreach (var item in listView.Items.Where(x => x.IsSelected))
            {
                _models.Add((Model)item.Item);
            }
            await _modelService.DeleteModelsAsync(_models.ToArray());
            await RefreshListViewItems();
        }
    }

    private async Task RefreshListViewItems()
    {
        var items = await _modelService.GetModelsAsync();
        if (listView != null)
        {
            listView.LoadItems<Model>(items);
        }
    }
}
