@page "/NewModel"
@inject IHttpClientFactory _clientFactory
@inject NavigationManager _navigationManager
@inject ModelService _modelService
@inject FieldService _fieldService
@inject AuthorizationController _authorizationController

@if (ModelItem == null)
{
    <div>Loading...</div>
}
else
{
    <div class="mt-4">
        <div class="card">
            <div class="card-header text-secondary">
                <h3>Fields</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col col-4">
                        <div class="card">
                            <div class="card-header text-secondary">
                                <h3>New Model</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="row mb-3">
                                        <label for="nameField" class="col-sm-3 col-form-label">Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="nameField" @bind="ModelItem.Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mb-3">
                                        <label for="pluralNameField" class="col-sm-3 col-form-label">Plural Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="pluralNameField" @bind="ModelItem.PluralName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mb-3">
                                        <label for="PrimaryColorInput" class="col-sm-3 col-form-label">Primary Color</label>
                                        <div class="col-sm-9">
                                            <button id="PrimaryColorInput" class="btn btn-primary" @onclick="() => OpenModal()" style="width:100%; height:100%; background-color:@ModelItem.PrimaryColor" />
                                            <ColorPicker Title="Primary" IsOpened="isPrimaryOpened" Closed="(val) => ClosedEvent(val)" MyColor="@ModelItem.PrimaryColor"></ColorPicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mb-3">
                                        <label for="SecondaryColorInput" class="col-sm-3 col-form-label">Secondary Color</label>
                                        <div class="col-sm-9">
                                            <button id="SecondaryColorInput" class="btn btn-primary" @onclick="() => OpenModal(true)" style="width:100%; height:100%; background-color:@ModelItem.SecondaryColor" />
                                            <ColorPicker Title="Secondary" IsOpened="isSecondaryOpened" Closed="(val) => ClosedEvent(val, true)" MyColor="@ModelItem.SecondaryColor"></ColorPicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row mb-3">
                                        <label for="SecondaryColorInput" class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control" aria-label="With textarea">@ModelItem.Description</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-8">
                        <div class="card">
                            <div class="card-header text-secondary">
                                <h3>Fields</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <ListViewComponent @ref="listView"></ListViewComponent>
                                    <button class="btn btn-primary" @onclick="OnNewFieldClick">New</button>
                                    <button class="btn btn-primary" @onclick="OnEditFieldClick">Edit</button>
                                    <button class="btn btn-primary" @onclick="OnDeleteFieldClick">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button class="btn btn-primary" @onclick="SaveModelAsync">Save</button>
                    <button class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
}
@code {
    public Model ModelItem { get; set; }

    ListViewComponentBase listView { get; set; }

    protected override async Task OnInitializedAsync()
    {


        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Refresh();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    async Task Refresh()
    {
        string userId = _authorizationController.GetUserClaim(JWTUserClaims.UserId);
        ModelItem = await Task.Run(() => _modelService.NewModel(userId));
     
        listView = new ListViewComponentBase();
        var v = await Task.Run(() => listView.LoadItems<Field>(ModelItem.Fields.ToArray()));

        this.StateHasChanged();

    }

    bool isPrimaryOpened = false;
    bool isSecondaryOpened = false;

    void OpenModal(bool openSecondary = false)
    {
        if (openSecondary)
        {
            isSecondaryOpened = true;
        }
        else
        {
            isPrimaryOpened = true;
        }
    }

    void ClosedEvent(string value, bool setSecondary = false)
    {
        if (setSecondary)
        {
            ModelItem.SecondaryColor = value;
            isSecondaryOpened = false;
        }
        else
        {
            ModelItem.PrimaryColor = value;
            isPrimaryOpened = false;
        }
    }



    private async Task SaveModelAsync(MouseEventArgs e)
    {
        await _fieldService.AddFieldsAsync(ModelItem.Fields.ToArray());
        await _modelService.AddModelAsync(ModelItem);
        _navigationManager.NavigateTo("models");
    }

    private void OnNewFieldClick()
    {
        _navigationManager.NavigateTo($"NewField/{ModelItem.Id}");
    }
    private void OnEditFieldClick()
    {

    }
    private void OnDeleteFieldClick()
    {

    }
}