@inherits ComponentModels.ListViewComponentBase
<table class="table table-hover">
    <thead>
        <tr>
            @foreach (var item in ColumnNames)
            {
                <td>@item</td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            if (item.IsSelected)
            {
                <tr class="clickable-row bg-dark text-white" @onclick="(e) => OnRowClick(e, item)">
                    <ListViewItemComponent ListViewItem="item" IsSelected="item.IsSelected"></ListViewItemComponent>
                </tr>
            }
            else
            {
                <tr class="clickable-row" @onclick="(e) => OnRowClick(e, item)">
                    <ListViewItemComponent ListViewItem="item" IsSelected="item.IsSelected"></ListViewItemComponent>
                </tr>
            }
        }
    </tbody>
</table>

@code {

}
