@namespace TheStorageApp.Website.Shared
@inherits LayoutComponentBase
@inject AuthorizationController _authorizationService

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav list-group-horizontal">
            @if (@_authorizationService.isLoggedIn())
            {
                <li class="nav-item">
                    <a class="nav-link" href="#">Hello @_authorizationService.GetUserClaim(JWTUserClaims.UserName)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" aria-current="page" href="/Authorization/LogOut">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Authorization/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Authorization/Login">Login</a>
                </li>
            }
        </ul>
    </div>
</nav>

@code {
}

