@page "/Roles"
@inject IHttpClientFactory _clientFactory
@inject CookieController _cookieController
@inject NavigationManager _navigationManager
@inject RolesService _roleService

<h3>User Roles</h3>

@if (_roleService == null || _roleService.Roles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Normilized Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in _roleService.Roles)
            {
                if (role.IsSelected)
                {
                    <tr class="clickable-row bg-dark text-white" @onclick="(e) => OnRowClick(e, role)">
                        <td>@role.Name</td>
                        <td>@role.NormalizedName</td>
                    </tr>
                }
                else
                {
                    <tr class="clickable-row" @onclick="(e) => OnRowClick(e, role)">
                        <td>@role.Name</td>
                        <td>@role.NormalizedName</td>
                    </tr>
                }

            }
        </tbody>
    </table>

    @if (userClaims.FindAll(s => s.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" && s.Value.Contains("admin")).Count > 0)
    {
        <button class="btn btn-primary" >New</button>
    }

    <button class="btn btn-primary" >Edit</button>

    <button class="btn btn-primary" >Delete</button>

}

@code {
    List<System.Security.Claims.Claim> userClaims { get; set; } = new List<System.Security.Claims.Claim>();

    protected override async Task OnInitializedAsync()
    {
        string jsonToken = _cookieController.Get("token");

        if (jsonToken != null)
        {
            System.IdentityModel.Tokens.Jwt.JwtSecurityToken jwtToken = new System.IdentityModel.Tokens.Jwt.JwtSecurityToken(jsonToken);
            userClaims = jwtToken.Claims.ToList();
        }

        await _roleService.GetUserRolesAsync();
        if (_roleService.Roles.Count() > 0)
        {
            _roleService.Roles[0].IsSelected = true;
        }

        await base.OnInitializedAsync();
    }

    private void OnRowClick(MouseEventArgs e, AppRole role)
    {
        if (e.AltKey || e.ShiftKey)
        {
            if (e.ShiftKey)
            {
                int startIndex = _roleService.Roles.ToList().IndexOf(_roleService.Roles.FirstOrDefault(x => x.IsSelected));
                int endIndex = _roleService.Roles.ToList().IndexOf(role);
                if (startIndex <= endIndex)
                {
                    _roleService.SelectRange(startIndex, endIndex);
                }
                else
                {
                    _roleService.SelectRange(endIndex + 1, startIndex + 1);
                }
            }
            _roleService.ToggleSelect(role);
        }
        else
        {
            _roleService.Select(role);
        }
    }

    public void EditFistSelectedUserRole()
    {
        _navigationManager.NavigateTo("EditRole");
    }

    private async Task DeleteSeletedUserRoles()
    {
        await _roleService.DeleteUserRolesAsync();
        _navigationManager.NavigateTo("ListUsers");
    }
}
