<h1>Register Page</h1>

<form action="LogIn" method="post">
    <div>
        Username:
        <input type="text" name="username" value="" placeholder="Username" />
    </div>

    <div>
        Email:
        <input type="text" name="email" value="" placeholder="email" />
    </div>

    <div>
        First Name:
        <input type="text" name="firstname" value="" placeholder="First Name" />
    </div>

    <div>
        Last Name:
        <input type="text" name="lastname" value="" placeholder="Last Name" />
    </div>

    <div>
        Password:
        <input type="text" name="password" value="" placeholder="Password" />
    </div>

    <button type="submit">Register</button>
</form>